<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title">Total saved up:</span>
        <div class="jumbotron">{{ totalSaved | currency:'CHF ' }}</div>
      </div>
    </div>
  </div>
</div>
<div class="center-align">
  <a class="waves-effect waves-light btn-large" routerLink="/save"><i class="material-icons right">add_circle</i>SPAR!</a>
</div>
<div></div>
<div class="center-align delete-total-saved-trigger">
  <!-- Modal Trigger -->
  <a class="modal-trigger" href="#resetTotalSaved" (click)="loadModal()">Reset Total Saved!</a>
</div>

<!-- Modal Structure -->
<div id="resetTotalSaved" class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Are you sure you want to delete your saved up money?</p>
  </div>
  <div class="center-align ">
    <a class="modal-close waves-effect waves-green btn red-btn delete-total-saved">Disgree</a>
    <a (click)="resetTotalSaved()" class="modal-close waves-effect waves-green btn green-btn delete-total-saved">Agree</a>
  </div>
</div>
