/* You can add global styles to this file, and also import other style files */
#wrapper {
  max-width: 500px;
  margin: 0 auto 1em auto;
  background: #fff;
}

.amount-saved {
  font-size: 1.3rem;
  padding-right: 10px;
}
